html {
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  max-width: 768px;
  margin-inline: auto;
  background-color: #fbe9ec;
  color: #4a4e69;
}

.elements {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

#list-container {
  border: solid 5px #4a4e69;
  border-radius: 0%;
}

div,
main,
p {
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

#first-parent {
  border: solid 5px #4a4e69;
  border-radius: 0;
  color: #4a4e69;
  margin-bottom: 1rem;

  transition: 0.2s;
  &:hover {
    color: #8d92af;
    transition: 0.2s;
  }
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;

  &::marker {
    font-size: 24px;
  }
}

ul li h2 {
  padding-left: 0.5rem;
}

a {
  text-decoration: none;
  color: #4a4e69;
  transition: 0.2s;
}

a:hover {
  color: #8d92af;
  transition: 0.2s;

  padding: 1rem 0.25rem;
  margin-left: 1rem;
}

div > a::before {
  content: "·";
  font-size: 30px;
  vertical-align: middle;
}

p::first-line {
}

code {
  color: #4a4e69;
  border: 1px transparent #4a4e69;
  background-color: #f1cbd3;
  padding: 2px 5px;
  margin: auto 2px;
  border-radius: 6px;
}

code > strong {
  background-color: #f1cbd3;
}

.unordered-list {
  li {
    margin-bottom: 0.5rem;
  }
}
