html {
  font-family: sans-serif;
}

body {
  max-width: 500px;
  margin-inline: auto;
  background-color: #fbe9ec;
  color: #4a4e69;
}

div,
p {
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 5px;
}

/* .elements { */
/*   border: none; */
/* } */

#first-parent {
  border: solid 5px #4a4e69;
  border-radius: 0;
  color: #4a4e69;
}

a {
  text-decoration: none;
  color: #4a4e69;
  transition: 0.2s;
}

a:hover {
  color: #22223b;
  transition: 0.4s;
  border: 1px solid #4a4e69;

  padding: 1rem 0.25rem;
  margin-left: 1rem;
}

a::before {
  content: "· ";
  font-size: 25px;
  vertical-align: middle;
}

h1.heading::before {
  content: "*";
}

p::first-line {
  /* color: red; */
}

p::after {
  /* content: url("./public/vite.svg"); */
}

.hierarchy,
.weird,
.timeout,
.acessing {
  display: none;
}
