html {
  font-family: sans-serif;
}

body {
  max-width: 650px;
  margin-inline: auto;
  background-color: #fbe9ec;
  color: #4a4e69;
}

.elements {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

div,
p {
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 5px;
}

/* #list-container { */
/*   border: solid purple 1px; */
/* } */

#first-parent {
  border: solid 5px #4a4e69;
  border-radius: 0;
  color: #4a4e69;
  font-size: 32px;
}

ol li {
  padding-left: 0;
  margin-left: 2rem;
  list-style: upper-roman;
  h2 {
    font-size: 24px;
    /* text-align: center; */
  }

  h1 {
    font-size: 32px;
  }
}

ol li::marker {
  font-size: 24px;
}

ol li:nth-child(n + 1) {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #4a4e69;
  transition: 0.2s;
}

a:hover {
  color: #22223b;
  transition: 0.4s;

  padding: 1rem 0.25rem;
  margin-left: 1rem;
}

div > a::before {
  content: "· ";
  font-size: 25px;
  vertical-align: middle;
}

h1.heading::before {
  content: "*";
}

strong,
h4,
h3 {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

p,
h3,
h4,
span {
  color: #4a4e69;
}

p::first-line {
}

p::after {
  content: url("./public/vite.svg");
}

/* .hierarchy, */
/* .weird, */
/* .timeout, */
/* .acessing, */
/* .elements { */
/*   display: none; */
/* } */
