main {
  font-family: sans-serif;
  border: solid teal 5px;
  height: 100vh;
  margin: auto;
}

h2,
p {
  border: 3px solid #4a4e69;
  padding: 15px;
  margin: 15px;
}

div {
  margin: 15px auto;
  padding: 15px;
}
