button {
  cursor: pointer;
  background-color: inherit;
  color: #4a4e69;
  border: solid 3px #4a4e69;
  width: 300px;
  padding: 1em;
  margin: 0.5em;
  &:hover {
    background-color: #ccd9e6;
    transition: 0.2s;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
